body {
	font-family: 'Open-Sans','Roboto',sans-serif, helvetica;
	line-height: 1.5;
}

.jumbotron {
	  background:  linear-gradient(
  rgba(7,56,88,0.8), 
  rgba(7,56,88,0.8)
  ),url("../images/istock.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  height: auto;
	  margin-bottom: 0;
}

.jumbotron .col-sm-6:nth-child(2) {
	background-color: rgba(5,41,64,0.4);
	height: auto;
	border-radius: 0px;
	box-shadow: 0px 0px 9px 10px rgba(5,41,64,0.5);
}
/********************************
 Typography
********************************/
.jumbotron span {
	color: #14b646;
}
.form-ct h2, .jumbotron h1, .hignlights p {
	color: #fff;
}
.jumbotron h1 {
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1.5;
}
.hignlights p {
	display: inline-block;
}
/********************************
 Layyouts
********************************/
.hignlights {
	margin: 10px 0;
	background-color: rgba(0,0,0,0.5);
	padding: 30px 20px;
	width: 90%;
}
/********************************
 Buttons
********************************/
.form button {
	width: 100%;
	border-radius: 1px;
	background-color: #14b646;
	color: #fff;
	font-weight: 800;
	font-size: 1.7em;
	transition: box-shadow .4s ease;
}
.form button:hover {
	box-shadow: 8px 8px 5px 2px rgba(0,0,0,0.35);
}
/********************************
 Navigaion
********************************/
.navbar {
	background: transparent;
	border: none;
}
.navbar-brand img{
	width: 250px;
	margin-top: -41.6666666667%;
	margin-left: -16.6666666667%;
}
/********************************
 Form
********************************/

.form {
	padding: 30px 10px;
}
.form input {
	border-radius: 0;
	box-shadow: none;
	border: none;
	height: 50px;
	background-color: transparent;
	border-bottom: 2px solid #fff;
	margin: 30px 0;
	color: #fff;
}
.form input:hover, .form input:focus {
	box-shadow: none;
}
.form input:focus {
	border-color: #14b646;
}
.form-ct.f-heading h2 {
	margin-bottom: -20px;
}
.form-control::-webkit-input-placeholder { color: #dedede; }
.form-control:-moz-placeholder { color:#dedede; }
.form-control::-moz-placeholder { color: #dedede; }
.form-control:-ms-input-placeholder { color: #dedede; }
}
/********************************
 Media Queries
********************************/













