body {
  font-family: 'Open Sans','Roboto', sans-serif;
}

 .signup-page {
/*   background-image: url('../images/jimathi.jpg'); */
/*   background: -moz-linear-gradient(left,#2B8CF5,#ABC7FF);
   background: -webkit-linear-gradient(left ,#2B8CF5,#ABC7FF);
  color: #fff;    */
   background-color: #f9f9f9;
}
/*  
Navbar
*/
.navbar-default {
  background-color: rgba(255,255,255,1);
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.3);
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0px
  box-shadow: 0px 3px 3px 1px #fff; 
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  font-size: 1.1em;
  font-weight: 500;
  
}
.navbar-default .navbar-brand img {
  margin-top: -14px;
}
/* 
End of Navbar
*/

/*  
Jumbotron
*/
.jumbotron {
  	padding: 0px;
}
.enterprise-details h2, .education-details h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.enterprise-details h2 + p, .education-details h2 + p {
  font-weight: 300;
  font-size: 1.2em;
  max-width: 80%;
  color: #777;
}
.enterprise-details h3, .education-details h3 {
  font-weight: 400;
  
}
.enterprise-details h3 + p, .education-details h3 + p {
  max-width: 90%;
  font-size: 1.1em;
  color: #4D5659;
  line-height: 1.5;
}
.jumbotron .flicker-example ul li h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  margin-top: -8.31168831169%;

}
.jumbotron h1 span{
  border: 4px solid;
  padding: 2.07141028922%;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.jumbotron p {
  font-size: 1.8em;
  font-family: 'Open Sans','Roboto', sans, helvetica;
  font-weight: 300;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5.19480519481%;
  padding: 10px;
}
/* .determined-text {
  float: left;
  margin-left: -13.5844155844%; 
  margin-top: 5.07792207792%; 
} */
/**************************
Services Background
***************************/
.services-background {
  border: 1px solid #f5f5f5;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-box {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 10px;
  margin-right: 13px;
}
.services-box.top {
  border-top: 3px solid #5AB0DD;
  margin-bottom: 1px;
  padding-top: 1px;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.26);
    
}
.services-box.content {
  margin-bottom: 20px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.26);
  padding: 20px;
}
/**************************
End Of Services Background
****************************/
.triangle {
  width: 0; 
	height: 0; 
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 27px solid #416F83;
  margin: 0 auto;
  margin-top: -30px;
}
/*  
End of Jumbotron
*/
/* 
Section styles
*/
.services, .benefits, .contacts, .education, .enterprise-details, .education-details {
  text-align: center;  
  padding: 40px;
}
/*  
End of section  styles
*/
/****************
Typography
******************/

.services p, .benefits-card p, .partners p{
  max-width: 90%;
  margin: 0px auto;
  line-height: 1.5;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #777;
}
.partners h1, .benefits h1, .services h1, .contacts h1 {
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 20px;
}
.services h3  {
  padding-top: 20px;
  font-weight: 600;
  color: #34A853;
}
.services .ent-services-item p {
  max-width: 75%;
  font-size: 1.15em;
}
.benefits-card .fa {
  font-size: 4em;
  color: #34A853;
}
.benefits-card h3 {
  font-size: 1.4em;
  font-weight: 600;
}
.benefits-card p {
  font-size: 1.15em;
}
.partners-card p {
  font-size: 1.24em;
  max-width: 100%;
  padding-bottom: 10px;
}
/****************
Services
******************/

/********************
Benefits
*********************/
.benefits{
 background-color: #f9f9f9; 
}
.benefits-card {
  border-radius: 2px;
	box-shadow: 1px 1px 2px 0.2px rgba(0,0,0,0.35);
	max-width: 65%;
	margin: 0 auto;
	background-color: #fff;
	min-height: 300px;
	padding: 30px;
  margin-top: 30px;
}
/********************
Partners
*********************/
.partners {
  padding-top: 40px;
  padding-bottom: 40px;
}
.partners .partners-card {
	max-width: 80%;
	margin: 0 auto;
	padding: 20px;
}
.partners img {
  max-width: 100%;
}
.partners img.microsoft {
  max-width: 90%;
  margin-top: -90px;
}
.partners-card button {
  background-color: rgb(52,168,83);
  color: #fff;
  width: 50%;
  border: none;
  border-radius: 2px;
}
.partners-card button:hover {
  background-color:rgba(52,168,83,0.7);
  color: #fff;
}
.partners .partners-card:nth-child(1) {
  margin-bottom: 30px;
}
/********************
Education
*********************/
.education { 
  background-color: #f9f9f9;
  color: #777;
}
.education p {
  padding-bottom: 20px;
}
.learn-more-btn {
  text-align: center;
}
.enterprise .learn-more-btn {
  padding-bottom: 20px;
  
}
.learn-more-btn button, .signup-form form button {
  background-color: #fff;
  color: #34A853;
  font-weight: 300;
  border: 2px solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 1.4em;
  width: 30%;
}
.learn-more-btn button:hover, .signup-form form button:hover {
  background-color: #fff;
  color: #70C286;
  border-color: #70C286;
}
/*  
Contact details
*/
.contacts h1 {
  padding-bottom: 2.63157894737%;
}
.contacts form .row input, .contacts .form textarea {
  border-radius: 1px;
  border: 3px solid #777;
}
.contacts form .row input:focus, .contacts .form textarea:focus {
  border: 2px solid #ccc;
  box-shadow: none;
}
/* .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  font-size: 1.4em;
} */
.contacts form .row input {
  height: 60px;
}
.contacts button {
  border-radius: 2px;
  width: 100%;
  float: left;
  background-color: #777;
  border-color: #777;
  color: #fff;
  padding: 10px;
  font-size: 1.7em;
}
.contacts button .fa {
  padding-left: 20px;
}
.contacts button:hover, .contacts button:active, .contacts button:focus {
  background-color: #848886;
  border-color: #848886;
}
.contacts .contact-details .heading {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Open Sans', 'Robto', sansa, helvetica;
}
.contacts .contact-details p {
  font-family: 'Roboto', sans, helvetica;
  font-weight: 300;
}
/***********************
Map
************************/

#map {
    width: 100%;
    height: 361px;
}
.contact-details {
  padding-top: 40px;
}
/*  
End of contact details
*/
/************************  
Footer
**************************/
.footer {
  background-color: #F0F0F0;
  padding: 30px;
}
.footer .social, .footer p {
  text-align: center;
}
.footer .social .fa {
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  color: #333333;
}
.footer .social .fa:hover {
  color: #34A853;
}
/*******************
Media Queries
********************/
@media screen and (max-width: 12000px) {
  .jumbotron h1 {
  font-size: 2.5em;
}
}
@media screen and (max-width: 960px) {
  .jumbotron h1 {
    font-size: 2.2em;
  }
  .jumbotron p {
    font-size: 1.3em;
  }
}
  @media screen and (max-width: 850px) {
    .jumbotron h1 {
      font-size: 1.8em;
    }
  }
  @media screen and (max-width: 768px) {
    .jumbotron h1 span {
      border: none;
    }
    .about-us p,.services p, .education-text p{
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.5;
    }
    .jumbotron h1 {
      margin-bottom: -4.52459016393%;
    }
    .about-us h1, .services h1, .education h1, .contacts h1 {
      font-size: 2.5em;
    }
    .about-us p, .services p, .education p, .enterprise .enterprise-text p{
      font-size: 1.1em;
    }
    .enterprise .enterprise-text h3 {
      font-size: 1.35em;
    }   
  }
@media screen and (max-width: 767px) {
  .enterprise-icon, .enterprise-text {
    padding: 20px;
    text-align: center;
  }
  .learn-more-btn button {
    width: 40%;
  }
  .google-pics {
    text-align: center;
  }
  .google-pics .work img {
    width: 43%;
  }
  .google-pics .edu img {
    margin-bottom: 20px;
    width: 40%;
  }
  .signup-form .form-wrapper {
    margin: 0 auto;
  }
  .signup-text {
    text-align: center;
    font-size: 90%;
    max-width: 90%;
    margin: 0 auto;
  }
  .contacts form button {
    margin-bottom: 40px;
  }
  .contacts button {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 600px ) {
  .about-us p, .services p, .education p{
    width: 100%;
  }
 } 
@media screen and (max-width: 500px) {
  .learn-more-btn button {
    width: 60%;
  }
}
@media screen and (max-width: 360px) {
  .google-pics .edu img {
    width: 50%;
  }
  .google-pics .work img {
    width: 54%;
  }
}
@media screen and (max-width: 320px) {
  .learn-more-btn button {
   width: 80%;
  }
}
/******************
Sign Up Form
*******************/

.navbar.nav-signup {
  background-color: transparent;
  margin-bottom: 0px;
  border-radius: 0px;
  box-shadow: none;
  border-color: #f9f9f9;
  margin-bottom: 30px;
}
.signup-form .form-wrapper{
  background-color: #fff;
  border: 1px solid #fff;
  max-width: 90%;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}
.signup-text {
  margin-top: -18px;
}
.signup-form .heading h3{
  color: #34A853;
  font-weight: 300;
  margin-top: -10px;
}
.signup-form .heading p, .signup-form label {
  color: #929292;
  font-weight: 300;
  font-family: 'Open Sans','Roboto',sans-serif;
}
.signup-form form input, .signup-form form select {
  height: 45px;
  border-radius: 4px;
  border-color: #DBDBDB;
}
.signup-form label {
  font-size: 1.2em;
}
.signup-form form .checkbox label {
 font-size: 1em;
}
.signup-form form .checkbox input {
  margin-top: -11px;
}
.signup-form form button {
  width: 100%;
}
.signup-text h2 {
  font-family: 'Open Sans','Robto',sans-serif, helvetica;
  font-weight: 300;
  font-size: 1.7em;
  color: #34A853;
}
.signup-text p {
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 14px;
  color: #777;
}
.signup-text .fa {
  color: #34A853;
  padding: 3px;
}
.google-pics img {
    width: 100%;
  }
  .google-pics .edu img {
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
  }
.rs img {
  width: 100%;
}