body {
  font-family: 'Roboto','Open Sans', sans;
}

 .signup-page {
/*   background-image: url('../images/jimathi.jpg'); */
/*   background: -moz-linear-gradient(left,#2B8CF5,#ABC7FF);
   background: -webkit-linear-gradient(left ,#2B8CF5,#ABC7FF);
  color: #fff;    */
}
/*  
Navbar
*/
.navbar-default {
  background-color: rgba(255,255,255,1);
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.3);
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 0px
  box-shadow: 0px 3px 3px 1px #fff; 
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  font-size: 1.1em;
  font-weight: 500;
  
}
.navbar-default .navbar-brand img {
  margin-top: -14px;
}
/* 
End of Navbar
*/

/*  
Jumbotron
*/
.jumbotron {
  	padding: 0px;
}
.jumbotron.services {
/*   background-color: #84CAF2; */
  background: linear-gradient(#349DCE,#87C6EF);
  color: #fff;
  height: 370px;
}
.jumbotron.services h1 {
  padding-top: 5.77192982456%;
  font-size: 5em;
  font-weight: 600;
}
.jumbotron.services p {
  background: none;
  padding-top: 0px;
  font-weight: bold;
}
.navbar-default.services-navbar {
  box-shadow: none;
}
.enterprise-details h2, .education-details h2 {
  font-weight: bold;
  font-size: 2.5em;
}
.enterprise-details h2 + p, .education-details h2 + p {
  font-weight: 300;
  font-size: 1.2em;
  max-width: 80%;
  color: #777;
}
.enterprise-details h3, .education-details h3 {
  font-weight: 400;
  
}
.enterprise-details h3 + p, .education-details h3 + p {
  max-width: 90%;
  font-size: 1.1em;
  color: #4D5659;
  line-height: 1.5;
}
.jumbotron .flicker-example ul li h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  margin-top: -8.31168831169%;

}
.jumbotron h1 span{
  border: 4px solid;
  padding: 2.07141028922%;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.jumbotron p {
  font-size: 1.8em;
  font-family: 'Open Sans','Roboto', sans, helvetica;
  font-weight: 300;
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5.19480519481%;
  padding: 10px;
}
/* .determined-text {
  float: left;
  margin-left: -13.5844155844%; 
  margin-top: 5.07792207792%; 
} */
/**************************
Services Background
***************************/
body.services-body {
  background-color: #f5f5f5;
}
.services-background {
  border: 1px solid #f5f5f5;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-box {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 10px;
  margin-right: 13px;
}
.services-box.top {
  border-top: 3px solid #5AB0DD;
  margin-bottom: 1px;
  padding-top: 1px;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.26);
    
}
.services-box.content {
  margin-bottom: 20px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.26);
  padding: 20px;
}
/**************************
End Of Services Background
****************************/
.triangle {
  width: 0; 
	height: 0; 
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	border-top: 27px solid #416F83;
  margin: 0 auto;
  margin-top: -30px;
}
/*  
End of Jumbotron
*/
/* 
Section styles
*/
.about-us, .services, .contacts, .education {
  text-align: center;  
  padding: 40px;
}
/*  
End of section  styles
*/

/*  
About us 
*/
.about-us h1, .services h1, .enterprise h1, .education h1, .contacts h1{
  font-size: 3em;
  font-family: 'Open Sans','Roboto',sans;
  font-weight: 300;
  padding-top: 15px;
  
}
.about-us {
  background-color: #F9F9F9;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-us p, .services p, .education p {
  max-width: 80%;
  margin: 0 auto;
  font-size: 1.250em;
  line-height: 1.7;
  font-family: 'Open Sans', 'Roboto',sans-serif;
  color: #777;
  font-weight: 300;
  padding-top: 40px;
}
/****************
Services
******************/

.services p, .education p {
  padding-top: 20px;
}
/********************  
End of services
*********************/

/********************
Enterprise
*********************/
.enterprise .enterprise-bg{
 background-color: #f9f9f9; 
}
.enterprise .enterprise-text p {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.3;
}
.enterprise .enterprise-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4em;  
}
.enterprise .enterprise-icon .fa{
  font-size: 9em;
  color: #34A853;
}
.enterprise-text, .enterprise-icon {
  padding: 60px;
}
.enterprise-icon {
  text-align: center;
}
/********************
End of Enterprise
*********************/
/********************
Education
*********************/
.education { 
  background-color: #f9f9f9;
  color: #777;
}
.education p {
  padding-bottom: 20px;
}
.learn-more-btn {
  text-align: center;
}
.enterprise .learn-more-btn {
  padding-bottom: 20px;
}
.learn-more-btn button {
  background-color: #fff;
  color: #34A853;
  font-weight: 300;
  border: 2px solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 1.4em;
  width: 21%;
}
.learn-more-btn button:hover {
  background-color: #fff;
  color: #70C286;
  border-color: #70C286;
}
/*  
Contact details
*/
.contacts h1 {
  padding-bottom: 2.63157894737%;
}
.contacts form .row input, .contacts .form textarea {
  border-radius: 1px;
  border: 3px solid #777;
}
.contacts form .row input:focus, .contacts .form textarea:focus {
  border: 2px solid #ccc;
  box-shadow: none;
}
/* .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  font-size: 1.4em;
} */
.contacts form .row input {
  height: 60px;
}
.contact-details {
  padding-top: 20px;
}
.contacts button {
  border-radius: 2px;
  width: 100%;
  float: left;
  background-color: #777;
  border-color: #777;
  color: #fff;
  padding: 10px;
  font-size: 1.7em;
}
.contacts button .fa {
  padding-left: 20px;
}
.contacts button:hover, .contacts button:active, .contacts button:focus {
  background-color: #848886;
  border-color: #848886;
}
.contacts .contact-details .heading {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Open Sans', 'Robto', sansa, helvetica;
}
.contacts .contact-details p {
  font-family: 'Roboto', sans, helvetica;
  font-weight: 300;
}
.contacts .contact-details hr {
  border-style: dashed;
  border-color: #000;
}
.contacts .contact-details hr:nth-child(1) {
  margin-top: -10px;
}
.contacts .contact-details {
	display: inline-block;
}
/***********************
Map
************************/

#map {
	width: 100%;
    height: 480px;
    background-color: #CCC;
 }

/*  
End of contact details
*/
/************************  
Footer
**************************/
.footer {
  background-color: #F0F0F0;
  padding: 30px;
}
.footer .social, .footer p {
  text-align: center;
}
.footer .social .fa {
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  color: #333333;
}
.footer .social .fa:hover {
  color: #34A853;
}
/*******************
Media Queries
********************/
@media screen and (max-width: 12000px) {
  .jumbotron h1 {
  font-size: 2.5em;
}
}
@media screen and (max-width: 960px) {
  .jumbotron h1 {
    font-size: 2.2em;
  }
  .jumbotron p {
    font-size: 1.3em;
  }
}
  @media screen and (max-width: 850px) {
    .jumbotron h1 {
      font-size: 1.8em;
    }
  }
  @media screen and (max-width: 768px) {
    .jumbotron h1 span {
      border: none;
    }
    .about-us p,.services p, .education-text p{

      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.5;
    }
    .jumbotron h1 {
      margin-bottom: -4.52459016393%;
    }
  }
/******************
Sign Up Form
*******************/

.navbar.nav-signup {
  background-color: transparent;
  margin-bottom: 70px;
  border-radius: 0px;
  box-shadow: none;
}
.signup-form .form-wrapper{
  border: 1px solid #fff;
  max-width: 90%;
  padding: 30px;
  background-color: rgb(255,255,255);
  border-radius: 3px;
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
}
.signup-text {
  margin-top: -moz-calc18px;
}
.signup-form .heading h3{
  color: #000;
  font-weight: 400;
}
.signup-form .heading p {
  color: #A3A3A3;
  font-family: 'Open Sans','Roboto',sans-serif;
}
.signup-form form input, .signup-form form select {
  height: 48px;
  border-radius: 4px;
}
.signup-form form button {
  width: 100%;
  height: 50px;
  background-color: #699BFF;
  border-radius: 3px;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
}
.signup-form form button:hover {
  color: #fff;
  background-color: #5E94B5; 
}
.signup-text h2 {
  font-family: 'Open Sans','Robto',sans-serif, helvetica;
  font-weight: 400;
  font-size: 1.5em;
}
.signup-text p {
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 14px;
}
.signup-text .fa {
  color: #34A853;
}