body {
	font-family: 'Open Sans';
	line-height: 1.5;
}
/*****************************
Jumbotron
*****************************/
.jumbotron {
	  background:  linear-gradient(
  rgba(0,0,0,0.4), 
  rgba(0,0,0, 0.4)
  ),url("../images/Accenture.JPG");
  background-size: cover;
	background-repeat: no-repeat;
	height: 710px;
	margin-bottom: 0;
}
/*****************************
Navigation
*****************************/

.navbar-default {
	border: none;
	background-color: transparent;
}
.navbar-brand img {
	width:300px;
	height: auto;
	margin-top: -97px;
}
.navbar-right {
	margin-right: 18px;
}
/*****************************
Typograpghy
*****************************/
.jumbotron h1,.committed h2, .h2s, .comm-cards, .committed  {
	text-align: center;
}
.jumbotron h1 {
	margin-top: 7.41289844329%;
	font-weight: 300;
}
.jumbotron p {
	text-align: center;
	padding-top: 40px;
	font-size: 2em;
	color: #fff;
	font-weight: 300;
}
.committed h2+p {
	margin-top: -30px;
	margin-bottom: 70px;
	font-size: 1.5em;
	color: #7b8b8e;
}
.comm-cards h3 {
	font-weight: 600;
	padding-bottom: 10px;
	color: #3a4a4d;
	font-size: 1.4em;
}
.partners h3 {
	color: #f9f9f9;
}
.comm-cards p {
	font-size: 1.1em;
	color: #3a4a4d;
}
.partners p{
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.7;
	color: #f9f9f9;
}
.h2s {
	color: #f9f9f9;
	font-weight: 300;
	font-family: 'Roboto';
	font-size: 3em;
	margin: 50px;
}
.testimonials h2.h2s {
	color: #000;
}
.help-icon .fa {
	font-size: 5em;
	color: #f9f9f9;
	transition:  transform 0.7s;
}
.help-icon .fa:hover {
	transform: translate(0,-25px);
}
.help-text p {
	line-height: 0.5;
	margin-top: 5px;
	font-size: 1.3em;
	color: #f9f9f9;
}
.contacts-social .fa {
	font-size: 3em;
	color: #fff;
	padding: 20px;
	transition: transform .5s;
}
.contacts-social .fa:hover {
	transform: translate(0,-10px);
}
.newsletter h2 {
	color: #3a4a4d;
}
.newsletter p {
	font-size: 1.6em;
	text-align: center;
	margin-top: -40px;
	color: #3a4a4d;
}
.footer ul li{
	list-style-type: none;
	padding: 5px 0px;
}
.footer ul a {
	font-size: 1.1em;
	color: #3a4a4d;
	text-decoration: none;
}
.footer ul a:hover {
	color: #026033;
	font-weight: bold;
}
.footer p {
	text-align: center;
	color: #3a4a4d;
	padding-top: 50px;
}
/*****************************
Colors
*****************************/
.jumbotron h1 {
	color: #fff;
}

.committed {
	background-color: #f9f9f9;
}
.committed h2{
	color: #3a4a4d;
}
.committed h2+p {
	color: #3a4a4d;
}
.help {
	background-color: #165b7b;
	text-align: center;
}
.partners {
	background-color: #186b90;
}
.testimonials, .customers, .partners, .contacts, .help, .committed, .newsletter {
	padding-bottom: 100px;
}
.partners {
	color: #186b;
}
.help .row .col-sm-2 {
	margin-left: 30px;
}
.customers {
	background-color: #fafafa;
}
.customers h2 {
	color: #3A4A4d;
}
.contacts {
	background-color: #165b7b;
}
.contacts-social {
	background-color: ;
	text-align: center;
	margin-top: 15px;
}
.testimonials {
	background-color: #fff;
}
.committed {
	background-color: #fafafa;
}
.newsletter {
	background-color: #fff;
}
.customers .row:nth-of-type(2) {
	margin-top: 50px;
}
footer {
	background-color: #fafafa;
	padding-top: 40px;
}
/*****************************
Buttons
*****************************/

.partners button, .contacts button, .newsletter button, .comm-cards button {
	background-color: #4AAE48;
	border-radius: 30px;
	font-size: 1.5em;
	color: #fff;
	padding: 10px;
  width: 40%;
	transition: all 0.6s ease-in-out;
	border: none;
}
.comm-cards button {
	width: 80%;
	margin-top: 20px;
}

.partners button .fa-arrow-right, .contacts button .fa-arrow-right, .newsletter button .fa-arrow-right, .comm-cards button .fa-arrow-right {
	position: relative;
	left: -20%;
	opacity: 0;
	transition: opacity ease-in-out, left ease-out;
	transition-duration: .5s;
	transition-delay: .3s;
	color: #fff;
}
.partners button:hover .fa-arrow-right, .contacts button:hover .fa-arrow-right, .newsletter button:hover .fa-arrow-right, .comm-cards button:hover .fa-arrow-right {
	left: 20%;
	opacity: 1;
	color: #fff;
}
.partners button:hover, .contacts button:hover, .comm-cards button:hover {
	background-color:#4AAE48;
	color: #fff;
	width: 50%;
	right: -40px;
}
.comm-cards button:hover {
	width: 100%;
}
.newsletter button:hover {
	width: 30%;
	background-color: #4AAE48;
	color: #fff;
}
.contacts-btn{
	text-align: center;
}
.newsletter form {
	text-align: center;
	padding-top: 50px
}
.newsletter button {
	height: 60px;
	border-radius: 0;
	background-color: #4AAE48;
	color: #fff;
	width: 20%;
}
.newsletter form input.form-control {
	height: 60px;
	width: 500px;
	border-radius: 0;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid;
	background-color: transparent;
	transition: border-bottom .3s ease-in-out;
}
.newsletter form input.form-control:focus {
	border-bottom: 5px solid #4AAE48;
}

/*****************************
Links
*****************************/
.navbar-default .navbar-right a:link{
	font-size: 1.3em;
	color: #fff;
	transition-property: background-color, color;
	transition: 0.2s ease-in;
}
.navbar-default .navbar-right li a:hover {
	background-color: rgba(74, 174, 72,0.8);
	color: #fff;
}
.navbar-right li a:visited {
	color: #000;
}
/*****************************
Layouts
*****************************/

.comm-cards {
	min-height: 350px;
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.04);
}
.testi-card {
	border-radius: 5px;
	background-color: #228BBC;
	padding: 15px;
	margin: 0 auto;
	box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.2);
	transition: transform .5s;
}
.testi-card:hover {
	transform: scale(1.08)
}
.testi-pic {
  display: inline-block;
	position: relative;
	top: -140px;
	margin: 20px
}
.testi-text {
	display: inline-block;
	width: 70%;
	color: #f9f9f9;
}
.testi-text blockquote {
	font-size: 1.1em;
	font-style: italic;

}
#map {
    width: 100%;
    height: 361px;
}


/*****************************
Images
*****************************/

.testi-card img {
	width: 60px;
	border-radius: 45%;
}
.customers img {
	width: 190px;
	height: 80px;	
}
.customers .logo-card{
	background-color: #fff;
	width: 300px;
	height: 300px;
	padding-left: 55px;
	padding-top: 100px;
	border-bottom-left-radius: .375rem;
  border-top-left-radius: .375rem;
	border-bottom-right-radius: .375rem;
	border-top-right-radius: .375rem;
}
.customers .logo-card.one {
	background-color: #f3f3f3;
}
.customers .logo-card.two {
	background-color:  #fff;
}
.customers .logo-card.three {
	background-color:  #f3f3f3;
}
.customers .logo-card.four {
	background-color: #fff;
}