body {
	font-family: 'Open Sans','Roboto', sans-serif;
}
.navbar-default {
	background-color: rgba(255,255,255,1);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 0px
	box-shadow: 0px 3px 3px 1px #fff; 
	margin-bottom: 0;
}
.navbar-default .navbar-brand img {
  margin-top: -14px;
}
.jumbotron.services {
/*   background-color: #84CAF2; */
	background: #f9f9f9;
	color: #fff;
	height: 370px;
	text-align: center;
}
/*******************************
Typography
********************************/
.jumbotron.services h1 {
	padding-top: 5.77192982456%;
	font-size: 5em;
	color: #000;
	font-weight: 300;
}
.jumbotron.services h1 {
	color: #000;
	font-weight: 300;
}
.jumbotron.services p {
	 background: none;
	 padding-top: 0px;
	 font-size: 1.250em;
	 color: #777;
	 font-weight: 300;
	 max-width: 80%;
	 margin: 0 auto;
}
.enterprise-details h1, .education-details h1 {
	font-size: 3em;
	font-weight: 300;
	text-align: center;
}
.enterprise-details p, .education-details p {
	max-width: 80%;
	margin: 0 auto;
	font-size: 1.250em;
	line-height: 1.7;
	color: #777;
  	font-weight: 300;
  	padding-top: 40px;
}
/*******************************
Color
********************************/
.education-details {
	background-color: #f9f9f9;
}