body {
	font-family: 'Open Sans','Roboto', sans-serif;
}
.navbar-default {
  background-color: #fff;
	border: none;
	height: 60px;
	border-radius: 0px;
}
.navbar-brand img {
	margin-top: -7px;
}

.jumbotron.services {
	margin-top: -20px;
  background:  linear-gradient(
  rgba(74,174,72, 0.5), 
  rgba(74,174,72, 0.5)
  ),url("../images/fam.jpg");
	color: #fff;
	height: 600px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 
	margin-bottom: 0;
	background-position: 100% 30%;
}
img {
	max-width: 100%;
}
.about-card {
  text-align: center;
}
/******************
Images
*******************/
.we-are-about .col-sm-6 {
	overflow: hidden;
}
.about-card {
	transition: all .5s ease-in-out;
}
.about-card:hover {
	transform: scale(1.1);
}
.about-card.family {
	background:  linear-gradient(
  rgba(18,75,101, 0.4), 
  rgba(18,75,101, 0.4)
  ), url("../images/fam.JPG");
}
.about-card.entre {
	background: linear-gradient(
  rgba(18,75,101, 0.4), 
  rgba(18,75,101, 0.4)
  ), url("../images/africanchild.jpg");
}
.about-card.moon {
	background:  linear-gradient(
  rgba(18,75,101, 0.4), 
  rgba(18,75,101, 0.4)
  ), url("../images/Space.jpg");	
}
.about-card.trans {
	background: linear-gradient(
  rgba(18,75,101, 0.4), 
  rgba(18,75,101, 0.4)
  ), url("../images/open.jpg");
	
}
.about-card.family, .about-card.entre, .about-card.moon, .about-card.trans{
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 350px;	
	margin-bottom: 10px;
	border-radius: 2px;
}
/******************
Typography
*******************/
.jumbotron h1 {
	font-size: 3em;
	font-weight: 400;
	padding-top: 50px;
}

.statement p {
	font-weight: 300;
	font-size: 1.9em;
	text-align: center;
	padding: 50px;
}
.about-card h3, .inspired-card h3 {
	max-width: 80%;
	margin: 0 auto;
	font-weight: 800;
	font-size: 2em;
	padding-top: 80px;
	color: #fff;
}
.about-card p, .inspired-card p {
	font-size: 1.3em;
	max-width: 80%;
	margin: 0 auto;
	color: #fff;
}
.we-are-about h1, .inspired h1,.inspired-card h3,.inspired-card p, .jobs-text, .openings-card p, .applications p {
  text-align: center;
}
.we-are-about h1, .inspired h1, .jobs-text h1 {
	font-weight: 800;
	padding: 20px 0px;
}
.jobs-text p {
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.openings-card p {
	font-size: 1.4em;
}
.applications p{
	font-size: 1.3em;
	padding: 20px 0px;
}
.inspired-card h3, .inspired-card p {
	color: rgba(0,0,0,0.8);
}
.applications a {
	color: #fff;
	text-decoration: underline;
}
/******************
Color
*******************/
/******************
Cards
*******************/
.openings-card {
	background-color: #fff;
	border-radius: 3px;
	padding: 50px;
	color: #000;
	max-width: 90%;
	margin: 0 auto;
	min-height: 150px;
}
.inspired {
	background-color: rgba(225,225,225,.9);
}
.inspired-card {
	background-color: #f4f4f4;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.inspired-pics, .inspired-card {
	height: 376.859px;
	overflow: hidden;
}
.inspired-pics.istan img {
	height: 376.859px;;
}
.jobs {
	background-color: #23829E;
	color: #fff;
}
